{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Properties {% endblock %}</h1>
        <div class='records'>
            {% for record in data %}
            <table>
                <td style="text-align:left">
                    <h3>{{ record[0] }}</h3>
                </td>
                <td style="text-align:left">
                    <h3>{{ record[1] }}</h3>
                </td>
                <td style="text-align:right">
                    <a href="{{ record[2] }}">
                        <img alt="property_image" src="{{ record[2] }}" width=150" height="70">
                    </a>
                </td>
            </table>
            {% endfor %}
        </div>
{% endblock %}